{% if page_obj.paginator.num_pages > 1 %}
<div class="pagination">
  {% if page_obj.has_previous %}<a class="page-btn" href="?{{ querystring }}page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-chevron-left"></i></a>{% endif %}
  <span class="page-btn active">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
  {% if page_obj.has_next %}<a class="page-btn" href="?{{ querystring }}page={{ page_obj.next_page_number }}"><i class="fa-solid fa-chevron-right"></i></a>{% endif %}
</div>
{% endif %}
